<% layout("layout/boilerplate") %>

<div class="row">
	<div class="col-6">
		<h1>Welcome To Our Home Page</h1>
		

		<!-- <% for(let i=0; i<book; i++) { %> -->
			<div class="card md-3">
				<div class="row">
					<div class="col-md-4">
						<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1646862210/YelpCamp/pvrjo9dkq4qgqbzhqsg7.jpg" alt="" >
					</div>
				</div>
			</div>
		
			<% } %>  
	</div>
</div>
