<% layout("layout/boilerplate") %> 
<!-- <h1>1<%= book.chapterss[book.number]%> </h1> -->



<% book.chapterss[book.number].images.forEach( el => {%>

   <img src="<%= el.url%>" alt="" srcset="">
   


<% }) %> 