<% layout("layout/boilerplate") %> 

<div class="row">
    <div class="col-6">
        <div id="coverPicture">
            <img src="https://pbs.twimg.com/profile_images/1559564502202519553/WbkAPyWB_400x400.jpg" alt=""> 
        </div>



        <div class="card md-3">
            <div class="card-body">
                <h4 class="card-title"><%= book.title%> </h4>
                <p class="card-text"><%= book.description %> </p>
                <p class="card-text"><%= book.genres %> </p>
            </div>
            <div class="card-footer text-muted"><%= book.uploadTime %> </div>
        </div>
    </div>
</div>