<div class="footer">
	<div class="logos"></div>
	<footer class="sfooter">
		<div class="route">
			<ul class="menu">
				<li class="menu-item">
					<a href="/uploads">Browse</a>
				</li>
				<li class="menu-item">
					<a href="/uploads">Browse</a>
				</li>
				<li class="menu-item">
					<a href="/uploads">Browse</a>
				</li>
				<li class="menu-item">
					<a href="/uploads">Browse</a>
				</li>
			</ul>
		</div>
		<div class="ftcopyright">
			<div class="socials"></div>
			<div class="copyright">
				<div class="txt">
					<p>
						All the comics on this website are only previews of the original comics, there may be many language errors, character names, and story lines. For the original version, please
						buy the comic if it's available in your city.
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
