/* $white: #fff
$gray-100: #f8f9fa
$gray-200: #e9ecef
$gray-300: #dee2e6
$gray-400: #ced4da
$gray-500: #adb5bd
$gray-600: #6c757d
$gray-700: #495057
$gray-800: #343a40
$gray-900: #212529
$black: #000
$primary: $blue
$secondary: $gray-600
$success: $green
$info: $cyan
$warning: $yellow
$danger: $red
$light: $gray-100
$dark: $gray-900
$blue: #0d6efd
$indigo: #6610f2
$purple: #6f42c1
$pink: #d63384
$red: #dc3545
$orange: #fd7e14
$yellow: #ffc107
$green: #198754
$teal: #20c997
$cyan: #0dcaf0 */
:root {
	--lightBlue: #15abbb;
	--red-1: #e95f5e;
	--red-2: #e7605d;
	--white: #ffffff;
	--light-purple: #6559bc;
	--purple-1: #413e51;
	--purple-2: #252638;
	--purple-3: #1f1d2b;
	--purple-4: #1f1d2c;
	--lighBg: var(--purple-2);
	--darkBg: var(--purple-3);
}
.nav-bg{
	background-color: var(--lighBg);
}
.search-butn {
	color: var(--white);
	border: 1px solid var(--light-purple);
}
.search-butn:hover {
	border-color: var(--darkBg);
	background-color: var(--light-purple);
}
.main {
	background-color: var(--darkBg);
}
.whiteText {
	color: var(--white);
}
.cards {
	width: 383px;
	height: 240px;
	float: left;
	background-color: var(--lightBg);
}
