:root {
	--lightBlue: #15abbb;
	--red-1: #e95f5e;
	--red-2: #e7605d;
	--white: #ffffff;
	--purple-1: #413e51;
	--purple-2: #252638;
	--purple-3: #1f1d2b;
	--purple-4: #1f1d2c;
    --lighBg: var(--purple-2);
	--darkBg: var(--purple-3);
}

.separate {
	border-bottom: 1px solid var(--purple-1);
	margin-bottom: 1%;
}
.h2sep {
	border-bottom: 1px solid var(--purple-1);
	margin-top: 1%;
	margin-bottom: 0.5%;
}
.cardBg {
	background-color: var(--lighBg);
	max-width: 600px;
	max-height: 210px;
}
.imgDis {
    margin: 5px ;
    min-width: 140px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 2%;
}
.anc{
    text-decoration: none;
    color: var(--white);
}
.anc:hover {
    color: var(--red-2);
}
.cardDis {
	padding: 15px 10px;
}
