:root {
	--lightBlue: #15abbb;
	--red-1: #e95f5e;
	--red-2: #e7605d;
	--white: #ffffff;
	--light-purple: #6559bc;
	--purple-1: #413e51;
	--purple-2: #252638;
	--purple-3: #1f1d2b;
	--purple-4: #1f1d2c;
	--lighBg: var(--purple-2);
	--darkBg: var(--purple-3);
}
a {
	color: var(--white);
	text-decoration: none;
}
a:hover {
	color: var(--white);
}
.container {
	background-color: #1f1d2c;
}
.firstHalf {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lighBg);
}
.imgCover {
	width: 690px;
	height: 1000px;
}
.title {
	border-bottom: 3px solid var(--white);
}

.secondHalf {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.left-box {
	display: flex;
	flex-grow: 0.4;
	flex-shrink: 0.4;
	margin-left: 30px;
	background-origin: padding-box;
	background-position: 0px;
	background-size: auto;
	column-gap: 0.8rem;
	row-gap: 0.8rem;
}
.binfo {
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	box-sizing: border-box;
	border: 10px solid var(--light-purple_);
	width: 100%;
	column-gap: 0.8rem;
	row-gap: 0.8rem;
}

.imptdata {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	padding: 4px;
	height: 27px;
	font-size: 13px;
	line-height: 1.5;
	column-gap: 2%;
	row-gap: 2%;
}

.right-box {
	flex-grow: 0.6;
}

.first-last {
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.select {
	box-sizing: border-box;
    display: block;
    float: left;
    width: 450px;
    text-align: center;
}
.fricking {
    display: block;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: var(--light-purple);
    border-radius: 20px ;
} 
.fricking:hover {
    background-color: var(--lighBg);
}
.episoded{
    display: block;
    margin-top: 6px;
}
.chLister {
	box-sizing: border-box;
	margin: 15px;
	/* border: 1px solid black; */
}
.lister {
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr 1fr;
	margin: 0px 0px 0px -5px;
	height: 250px;
	overflow: auto;
	padding: 0px;
	list-style-position: outside;
	list-style-type: none;
}
.li-lis {
	box-sizing: border-box;
	display: list-item;
	float: left;
	width: 70%;
}
.box {
	display: block;
	box-sizing: border-box;
	margin: 0px 5px 5px 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	border: 1px solid var(--light-purple);
	border-radius: 15px;
}
.box:hover {
	border: 1px solid var(--darkBg);
	background-color: var(--light-purple);
}
.episodeNUM {
	display: block;
	float: none;
	height: 40px;
	width: 256px;
	text-align: center;
}
.chapternum {
	box-sizing: border-box;
	height: 21px;
}
.chapterdate {
	box-sizing: border-box;
	height: 21px;
}
