:root {
	--lightBlue: #15abbb;
	--red-1: #e95f5e;
	--red-2: #e7605d;
	--white: #ffffff;
	--light-purple: #6559bc;
	--purple-1: #413e51;
	--purple-2: #252638;
	--purple-3: #1f1d2b;
	--purple-4: #1f1d2c;
	--lighBg: var(--purple-2);
	--darkBg: var(--purple-3);
}

.body {
    background-color: #1f1d2c;
}
.imgCover {
    width: 690px;
    height: 1000px;
}


.chLister {
    margin: 15px;
    border: 1px solid black;
}