:root {
	--lightBlue: #15abbb;
	--red-1: #e95f5e;
	--red-2: #e7605d;
	--white: #ffffff;
	--light-purple: #6559bc;
	--purple-1: #413e51;
	--purple-2: #252638;
	--purple-3: #1f1d2b;
	--purple-4: #1f1d2c;
	--lighBg: var(--purple-2);
	--darkBg: var(--purple-3);
}
a {
	color: var(--white);
	text-decoration: none;
}
a:hover {
	color: var(--white);
}
.container {
	background-color: #1f1d2c;
}
.firstHalf {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lighBg);
}
.bookmark1 {
	top: 5px;
	box-sizing: border-box;
	position: relative;
	margin: 2px 0px 2px 0px;
}
.bk1-butn {
	text-align: center;
	box-sizing: border-box;
	border: 1px solid var(--light-purple);
	border-radius: 5px;
	background-color: var(--lightBg);
	color: var(--white);
	padding: 5px 0px 5px 0px;
	width: 100%;
}
.bk1-butn:hover {
	background-color: var(--light-purple);
}
.top-tt {
	padding: 5px 0px 5px 0px;
}
.gnr {
	box-sizing: border-box;
	display: block;
}
.genr {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	overflow: hidden;
}
.adds-rounding {
	display: block;
	box-sizing: border-box;
	background-color: #000;
	padding: 4px 12px 4px 12px;
	margin: 0px 3px 6px 0px;
	border-radius: 50px;
}

.imgCover {
	width: 690px;
	height: 1000px;
}
.title {
	border-bottom: 3px solid var(--white);
}

.secondHalf {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.left-box {
	display: flex;
	flex-grow: 0.4;
	flex-shrink: 0.4;
	margin-left: 30px;
	background-origin: padding-box;
	background-position: 0px;
	background-size: auto;
	column-gap: 0.8rem;
	row-gap: 0.8rem;
}
.binfo {
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	box-sizing: border-box;
	border: 10px solid var(--light-purple_);
	width: 100%;
	column-gap: 0.8rem;
	row-gap: 0.8rem;
}

.imptdata {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	padding: 4px;
	height: 27px;
	font-size: 13px;
	line-height: 1.5;
	column-gap: 2%;
	row-gap: 2%;
}

.right-box {
	flex-grow: 0.6;
}

.first-last {
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.select {
	box-sizing: border-box;
    display: block;
    float: left;
    width: 450px;
    text-align: center;
}
.fricking {
    display: block;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: var(--light-purple);
    border-radius: 20px ;
} 
.fricking:hover {
    background-color: var(--lighBg);
}
.episoded{
    display: block;
    margin-top: 6px;
}
.chLister {
	box-sizing: border-box;
	margin: 15px;
	/* border: 1px solid black; */
}
.lister {
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr 1fr;
	margin: 0px 0px 0px -5px;
	height: 250px;
	overflow: auto;
	padding: 0px;
	list-style-position: outside;
	list-style-type: none;
}
.li-lis {
	box-sizing: border-box;
	display: list-item;
	float: left;
	width: 70%;
}
.box {
	display: block;
	box-sizing: border-box;
	margin: 0px 5px 5px 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	border: 1px solid var(--light-purple);
	border-radius: 15px;
}
.box:hover {
	border: 1px solid var(--darkBg);
	background-color: var(--light-purple);
}
.episodeNUM {
	display: block;
	float: none;
	height: 40px;
	width: 256px;
	text-align: center;
}
.chapternum {
	box-sizing: border-box;
	height: 21px;
}
.chapterdate {
	box-sizing: border-box;
	height: 21px;
}

/* REVIEWS */

/* .third-half {
	display: flex;
} */
.t-box{
	width: 100%;
	box-sizing: border-box;
	padding: 0px 0px 5px 0px;
}
.box1{
	display: flex;
	flex-direction: column;
}
/* create a review */
.posts {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.r4ting {
	display: flex;
	justify-content: center;
	margin: 0px 0px 10px 0px;
}
.la {
	margin: 0px 5px 0px 0px ;
}
.inpt {
	border-radius: 10px;
	background-color: var(--lighBg);
	border: none;
	width: 100px;
	color: var(--white);
	text-align: center;
	box-shadow: 1px 1px 1px 1px #000;
	padding: 5px 5px 5px 5px;
}
.textbd {
	border-radius: 20px ;
	background-color: var(--lighBg);
	color: var(--white);
	border: none;
	text-align: start;
	padding: 5px 0px 0px 15px;
	margin: 10px 0px 0px 0px;
	resize: none;
	white-space: normal;
	box-shadow: 1px 1px 1px 1px #000;
}

/* all reviews */
.allreviews {
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr 1fr 1fr;
	box-sizing: border-box;
	margin: 10px 0px 0px 0px ;
	
}
.allreviews::selection {
	border-color: var(--light-purple);
}
.cards {
	background-color: var(--lighBg);
	margin: 5px 10px 5px 10px;
	box-sizing: border-box;
	padding: 5px;
}
.card-body {
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 15px;
}
.userR4	{
	display: flex;
	justify-content: space-evenly;
	align-content: flex-start;
}
.rev-body {
	overflow: auto;
	height: 120px;
}

